# Linear Regression with multiple variables or Multivariate Regression

In [16]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [17]:
df=pd.read_excel('home.xlsx')
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  780000
5  4100       6.0    8  810000

In [18]:
import math

In [19]:
df.Bedrooms.median()

4.0

In [20]:
df.Bedrooms=df.Bedrooms.fillna(df.Bedrooms.median())

In [21]:
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  780000
5  4100       6.0    8  810000

In [22]:
model=linear_model.LinearRegression()
model.fit(df.drop('Price',axis='columns'),df.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
model.predict([[3000,3,40]])

array([460314.5886671])

In [24]:
model.coef_

array([  135.93357047,  1808.34673856, -5642.69584853])

In [25]:
model.intercept_

272796.6709714452

In [15]:
135.93357047*3000+1808.34673856*3+(-5642.69584853)*40+272796.6709714452

460314.5886559253